body{
    background-color: rgb(164, 223, 183);
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: green;
}
h1#principal {
    text-align: center;
    background-color: rgb(28, 78, 28);
    color:  rgb(164, 223, 183);
    
}
.sub {
    text-align: center;
}
h2 {
    color: rgb(4, 96, 17);
}